/* blog-style.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0fbfd;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 1em 2em;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffcc00;
}

main {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.blog-post {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  max-width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/그림 사이즈/
.blog-post img {
  width: 100%;
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.blog-post h2 {
  color: #111;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.blog-post .date {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.blog-post p {
  line-height: 1.6;
  color: #333;
}

.blog-post a {
  color: purple;
  text-decoration: none;
  font-weight: 600;
}

.blog-post a:hover {
  text-decoration: underline;
}
